<div class="row">
  <div class="col-md">
    <!-- <div class="row">
        <div class="col-md">
          <form class="search-bar">
            <input type="search" name="search" pattern=".*\S.*" required>
            <button class="search-btn" type="submit">
              <span>Search</span>
            </button>
          </form>
        </div>
      </div> -->
    <div class="row">
      <div class="col-md">
        <form action="">

        </form>
      </div>
    </div>
    <div class="paddings" *ngIf="showMovieDetails">
      <div class="box">
        <div class="col-md-4">
          <div class="img">
            <img src="{{ img1 }}" alt="" class="show-img" />
          </div>
        </div>
        <div class="col-md details">
          <h5 class="title-head">Avatar</h5>
          <div class="row mt-4">
            <div class="col-md-2">
              <p class="info">Year:</p>
            </div>
            <div class="col-md">
              <span class="info">2021</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <p class="info">Running Time:</p>
            </div>
            <div class="col-md">
              <span class="info">115 Min</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <p class="info">Directed By:</p>
            </div>
            <div class="col-md">
              <span class="info">Shawn Levy</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <p class="info">Language:</p>
            </div>
            <div class="col-md">
              <span class="info">English</span>
            </div>
          </div>
          <div class="row mt-3">
            <p class="info-para">
              Guy is a non-player character (NPC) in Free City, a massively
              multiplayer online role-playing video game (MMORPG) developed by
              Soonami Studio.
            </p>
          </div>
          <div class="row mt-4">
            <div class="heading-buttons d-flex">
              <button type="button" class="btn btn-Play">Play Movie</button>
              <button type="button" class="btn btn-Watch mx-2">
                Watch Trailer
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div
        class="col-md-2 mx-5 mb-4 mt-4 cards"
        *ngFor="let movie of movies.slice(0, 4); let i = index"
      >
        <mat-card class="example-card" (click)="showDetails(i)">
          <img
            mat-card-image
            src="{{ movie.Poster }}"
            alt="Photo of a Shiba Inu"
            class="mat-img"
          />
          <mat-card-content>
            <p class="title">{{ movie.Title }}</p>
          </mat-card-content>
          <mat-card-actions class="mb-3">
            <button mat-button class="btn_mat">
              <img
                src="../../../assets/images/Union.svg"
                alt=""
                class="icon-svg"
              />
            </button>
            <button mat-button class="btn_mat">
              <img
                src="../../../assets/images/Vector.svg"
                alt=""
                class="icon-svg"
              />
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="row paddings-card2" *ngIf="showMovieDetails2">
        <div class="box">
          <div class="col-md-4">
            <div class="img">
              <img src="{{ img2 }}" alt="" class="show-img" />
            </div>
          </div>
          <div class="col-md details">
            <h5 class="title-head">Game of Thrones</h5>
            <div class="row mt-4">
              <div class="col-md-2">
                <p class="info">Year:</p>
              </div>
              <div class="col-md">
                <span class="info">2011</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <p class="info">Running Time:</p>
              </div>
              <div class="col-md">
                <span class="info">56 Min</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <p class="info">Writer:</p>
              </div>
              <div class="col-md">
                <span class="info">David Benioff</span>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <p class="info">Language:</p>
              </div>
              <div class="col-md">
                <span class="info">English</span>
              </div>
            </div>
            <div class="row mt-3">
              <p class="info-para">
                While a civil war brews between several noble families in
                Westeros,the children of the former rulers of the land attempt
                to rise up to power.Meanwhile a forgotten race, bent on
                destruction, plans to return after thousands of years in the
                North.
              </p>
            </div>
            <div class="row mt-4">
              <div class="heading-buttons d-flex">
                <button type="button" class="btn btn-Play">Play Movie</button>
                <button type="button" class="btn btn-Watch mx-2">
                  Watch Trailer
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="col-md-2 mx-5 mb-4 mt-4 cards"
        *ngFor="let movie of movies.slice(4, 50); let i = index"
      >
        <mat-card class="example-card" (click)="showDetailsAgain(i)">
          <img
            mat-card-image
            src="{{ movie.Poster }}"
            alt="Photo of a Shiba Inu"
            class="mat-img"
          />
          <mat-card-content>
            <p class="title">{{ movie.Title }}</p>
          </mat-card-content>
          <mat-card-actions class="mb-3">
            <button mat-button class="btn_mat">
              <img
                src="../../../assets/images/Union.svg"
                alt=""
                class="icon-svg"
              />
            </button>
            <button mat-button class="btn_mat">
              <img
                src="../../../assets/images/Vector.svg"
                alt=""
                class="icon-svg"
              />
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
